$blue: #2a8bf2;
$red: #ff3366;
$black: #0d1c2e;
$gray: #707c97;
$white: #ffffff;
$white-blur: #e6ecfe;
$green: #42b983;

$fs-primary-title: 36px;
$fs-secondary: 20px;
$fs-primary: 18px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;